.faqSection {
    background-color: #fff;
}

.faqs h2 {
    font-weight: 700;
font-size: 32px;
color: #222D39;
text-align: center;
}

.faqs {
    width: 50%;
    margin: auto;
}

.faqItem {
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

.faqItem span {
    color: #0CBC8B;
}

.faqItem h3 {
    font-weight: 600;
font-size: 20px;
color: #3E3E3E;

}

.faqItem .itemText {
    margin-left: 20px;
    border-left: 2px solid #0CBC8B;
    animation: fadeIn 1s;
}

.ic {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.faqItem .itemText p {
    margin-left: 5px;
    font-weight: 400;
    font-size: 16px;
    color: #5A5A5A;
}

.faqSection :global(.p-button) {
    background-color: #FF6C59 !important;
    box-shadow: 0px 14.7349px 69.3407px rgba(0, 0, 0, 0.07), 0px 6.15589px 28.9689px rgba(0, 0, 0, 0.0503198), 0px 3.29123px 15.4882px rgba(0, 0, 0, 0.0417275), 0px 1.84504px 8.68254px rgba(0, 0, 0, 0.035), 0px 0.979886px 4.61123px rgba(0, 0, 0, 0.0282725), 0px 0.407753px 1.91884px rgba(0, 0, 0, 0.0196802);
    border-radius: 8.66759px;
    border: none;
}

.faqSection :global(.p-button:focus), :global(.p-button:hover) {
    background-color: #0CBC8B !important;
}

.faqSection span {
    font-weight: 600;
    font-size: 16px;
    color: #222D39;
}

@media screen and (max-width: 768px) {
    .faqs {
        width: 90%;
    }
    .faqs h2 {
        font-size: 28px;
    }
    .faqItem h3 {
        font-size: 16px;
    }
    .faqItem .itemText p {
        font-size: 14px;
    }
    .faqSection .p-button, .featured .p-button {
        font-size: 14px !important;
        padding: 0.75rem 1rem !important;
    }
    .faqSection span {
        font-size: 14px;
    }
}