  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
::after, ::before, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    overflow-x: hidden;
}

.steps {
    min-height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-in {
    padding: 20px 0px;
}

.steps .p-card {
    box-shadow: 0px -10.9365px 51.466px rgba(0, 0, 0, 0.07), 0px -4.56902px 21.5012px rgba(0, 0, 0, 0.0503198), 0px -2.44281px 11.4956px rgba(0, 0, 0, 0.0417275), 0px -1.36942px 6.44434px rgba(0, 0, 0, 0.035), 0px -0.72729px 3.42254px rgba(0, 0, 0, 0.0282725), 0px -0.302641px 1.4242px rgba(0, 0, 0, 0.0196802);
border-radius: 9.42926px !important;
width: 180px;
height: 160px;
margin: auto;
display: flex;
    justify-content: center;
    align-items: center;
}

.steps .p-card .p-card-content {
    padding: 0;
}

.steps .p-card .p-component {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-card:hover, .active {
    background-color: #f5f9ff !important;
}

.grid-app {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.grid-app .p-card {
    height: 160px;
}

.grid-app .p-card-body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps .p-button {
    border: 1px solid #222D39 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps .p-button-outlined {
    color: #222D39 !important;
}

.steps .p-button:enabled:hover, .p-button:not(button):not(a):not(.p-disabled):hover {
    background-color: #222D39 !important;
    color: #fff !important;
}

.steps .p-slider {
    background-color: #4B88E6 !important;
}

.steps .p-slider .p-slider-range {
    background-color: #222D39;
}

.steps .p-slider .p-slider-handle {
    border: 2px solid #222D39;
}

.steps .p-progressbar {
    margin: auto;
    width: 35rem;
    background: #FFFFFF;
    box-shadow: 0px 38px 80px rgba(0, 0, 0, 0.07), 0px 15.8755px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 8.4878px 17.869px rgba(0, 0, 0, 0.0417275), 0px 4.75819px 10.0172px rgba(0, 0, 0, 0.035), 0px 2.52704px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 1.05156px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 76px;
    height: 2.1rem;
}

.steps .p-progressbar .p-progressbar-value {
    background: #0CBC8B !important;
}

.steps .p-progressbar .p-progressbar-label {
    color: #000;
}

.thanks {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 81vh;
}

.thanks h1 {
    color: #0CBC8B;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 102.667px;
    margin-top: -40px !important;
}

.thanks p {
    color: #404F66;
}

.banner a {
    color: #fff;
    text-decoration: none;
}

.header div {
    background: rgba(203, 223, 254, 0.1);
    backdrop-filter: blur(20px);
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.header p {
    font-size: 12px;
}

.hero-section {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text h1 {
    font-weight: 700;
font-size: 36px;
line-height: 50px;
    color: #222D39;
}

.hero-text .st-1 {
    color: #0CBC8B;
}

.hero-text .st-2 {
    color: #FF6C59;
}

.hero-text .items {
    padding: 0px;
}

.hero-text .items img {
    height: 20px;
    width: 20px;
}

.hero-text .items li {
    list-style: none;
    font-style: italic;
    font-size: 13.8px;
    display: flex;
    font-weight: 500;
    gap: 8px;
    margin: 8px 0px;
}

.hero-text p {
    font-weight: 400;
    font-size: 20px;
    color: #222D39;
}

.hero-text .p-button, .p-button:hover, .p-button:focus {
    background-color: #0CBC8B !important;
    box-shadow: 0px 14.7349px 69.3407px rgba(0, 0, 0, 0.07), 0px 6.15589px 28.9689px rgba(0, 0, 0, 0.0503198), 0px 3.29123px 15.4882px rgba(0, 0, 0, 0.0417275), 0px 1.84504px 8.68254px rgba(0, 0, 0, 0.035), 0px 0.979886px 4.61123px rgba(0, 0, 0, 0.0282725), 0px 0.407753px 1.91884px rgba(0, 0, 0, 0.0196802);
    border-radius: 8.66759px;
    border: none;
}

.hero-text span {
    font-weight: 600;
font-size: 16px;
color: #222D39;
}

.image-div {
    max-height: 600px;
    height: 1000px;
}

.image-div img {
    max-height: 100%;
    object-fit: cover;
    height: 100%;
}

.service {
    width: 70%;
    margin: auto;
}

.service h2 {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #222D39;
}

.grid-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .grid-service > * {
    flex-basis: calc(33.33% - 10px);
    max-width: calc(30.33% - 10px);
  }  

.grid-service p {
    font-size: 14px;
}

.quick-card {
    padding: 25px 20px;
    background: #FFFFFF;
    border-radius: 5px 5px 20px 20px;
    box-shadow: 0px -7px 193px rgba(116, 193, 234, 0.11), 0px -2.92443px 80.6308px rgba(116, 193, 234, 0.079074), 0px -1.56354px 43.1091px rgba(116, 193, 234, 0.0655718), 0px -0.876509px 24.1666px rgba(116, 193, 234, 0.055), 0px -0.465507px 12.8347px rgba(116, 193, 234, 0.0444282), 0px -0.193708px 5.34081px rgba(116, 193, 234, 0.030926);
}

.quick-card-2 {
    border-top: 4px solid #000;
    padding: 25px;
    background: #FFFFFF;
    border-radius: 5px 5px 20px 20px;
    box-shadow: 0px -7px 193px rgba(116, 193, 234, 0.11), 0px -2.92443px 80.6308px rgba(116, 193, 234, 0.079074), 0px -1.56354px 43.1091px rgba(116, 193, 234, 0.0655718), 0px -0.876509px 24.1666px rgba(116, 193, 234, 0.055), 0px -0.465507px 12.8347px rgba(116, 193, 234, 0.0444282), 0px -0.193708px 5.34081px rgba(116, 193, 234, 0.030926);
}

.featured h2 {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #222D39;
}

.featured {
    width: 70%;
    margin: auto;
}

.featured .images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.featured .p-carousel {
    max-width: 100%;
    width: 70%;
    margin: auto;
}

.featured .images .p-carousel-items-content {
    max-width: 100vw;
}

.featured .p-button, .p-button:hover, .p-button:focus {
    background-color: #0CBC8B !important;
    text-decoration: none;
    box-shadow: 0px 14.7349px 69.3407px rgba(0, 0, 0, 0.07), 0px 6.15589px 28.9689px rgba(0, 0, 0, 0.0503198), 0px 3.29123px 15.4882px rgba(0, 0, 0, 0.0417275), 0px 1.84504px 8.68254px rgba(0, 0, 0, 0.035), 0px 0.979886px 4.61123px rgba(0, 0, 0, 0.0282725), 0px 0.407753px 1.91884px rgba(0, 0, 0, 0.0196802);
    border-radius: 8.66759px;
    border: none;
}

.featured span {
    font-weight: 600;
    font-size: 16px;
    color: #222D39;
}

.faq-section {
    background-color: #fff;
}

.faqs h2 {
    font-weight: 700;
font-size: 32px;
color: #222D39;
text-align: center;
}

.faqs {
    width: 50%;
    margin: auto;
}

.faq-item {
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

.faq-item span {
    color: #0CBC8B;
}

.faq-item h3 {
    font-weight: 600;
font-size: 20px;
color: #3E3E3E;

}

.faq-item .item-text {
    margin-left: 20px;
    border-left: 2px solid #0CBC8B;
}

.faq-item .item-text p {
    margin-left: 5px;
    font-weight: 400;
    font-size: 16px;
    color: #5A5A5A;
}

.faq-section .p-button, .p-button:hover, .p-button:focus {
    background-color: #FF6C59 !important;
    text-decoration: none;
    box-shadow: 0px 14.7349px 69.3407px rgba(0, 0, 0, 0.07), 0px 6.15589px 28.9689px rgba(0, 0, 0, 0.0503198), 0px 3.29123px 15.4882px rgba(0, 0, 0, 0.0417275), 0px 1.84504px 8.68254px rgba(0, 0, 0, 0.035), 0px 0.979886px 4.61123px rgba(0, 0, 0, 0.0282725), 0px 0.407753px 1.91884px rgba(0, 0, 0, 0.0196802);
    border-radius: 8.66759px;
    border: none;
}

.faq-section span {
    font-weight: 600;
    font-size: 16px;
    color: #222D39;
}

.thanks .p-button {
    color: #E98862;
}

/* Footer */
.footer {
    background: #222D39;
    box-shadow: 0px -56px 80px rgba(0, 139, 244, 0.06), 0px -23.3955px 33.4221px rgba(0, 139, 244, 0.0431313), 0px -12.5083px 17.869px rgba(0, 139, 244, 0.0357664), 0px -7.01207px 10.0172px rgba(0, 139, 244, 0.03), 0px -3.72406px 5.32008px rgba(0, 139, 244, 0.0242336), 0px -1.54966px 2.21381px rgba(0, 139, 244, 0.0168687);
    padding: 60px 80px;
    color: #fff;
}

.footer-inner {
    background: #222D39;
    padding: 5px 0px;
}
.footer-inner p {
    padding-right: 80px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 70px;
}

footer .links a {
    color: #0CBC8B;
    text-decoration: none;
    font-style: italic;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.map iframe {
    border-radius: 10px;
    border: 0px;
}

.bottom {
    margin-top: 20px;
    color: #FF6C59;
    text-align: end;
}

@media screen and (max-width: 992px) {
    .footer {
        padding: 60px 30px;
    }
    .footer-inner {
        padding: 10px 30px;
    }
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .grid-app {
        grid-template-columns: repeat(2, 1fr);
    }
    .faqs {
        width: 65%;
    }
    .featured .images {
        grid-template-columns: repeat(2, 1fr);
    }
    .image-div {
        display: none;
    }
    .header div {
        position: relative;
    }
    .steps .p-progressbar {
        width: 70%;
    }
    .grid-service > * {
        flex-basis: calc(45.33% - 10px);
        max-width: calc(50.33% - 10px);
    }
    .quick-card-2 {
        padding: 25px 15px;
    }
}

@media screen and (max-width: 575px) {
    .footer-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .grid-app {
        grid-template-columns: repeat(1, 1fr);
    }
    .faqs {
        width: 80%;
    }
    .featured .images {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .grid-service > * {
        flex-basis: calc(100% - 10px);
        max-width: calc(100% - 10px);
    }
    .hero-text h1 {
        font-size: 20px;
        line-height: 30px;
    }
    
    .hero-text p {
        font-size: 16px;
    }
    .header img {
        width: 80px;
    }
    .header p {
        font-size: 6px;
    }
    .steps .p-progressbar {
        width: 80%;
    }
    .map iframe {
        max-width: 280px;
    }
    .quick-card-2 {
        padding: 20px;
    }
    .faq-item h3 {
        font-size: 16px;
    }
    .faq-item .item-text p {
        font-size: 12px;
    }
    .footer-inner p {
        padding-right: 0;
    }
}

.submit-btn .p-button .p-button-label {
    height: 20px;
}